<!DOCTYPE html>
<html lang="en" xmlns="http:/thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="/fragments/styling :: head-style"></div>

    <title>Lisa's Blog</title>
  </head>
  <body id="body">
    <div th:replace="/fragments/styling :: navbar"></div>
    <div class="container">
      <div class="row justify-content-center">
        <h1>About Lisa</h1>
      </div>
      <!-- End of first row -->
      <div class="row justify-content-center">
        <p>
          Lisa is a junior developer that cares about your feelings, so feel
          free to post them here in her blog!
        </p>
      </div>
      <!-- End of second row -->
      <div class="row justify-content-center">
        <a href="/blogposts/new">
          <button class="btn btn-primary">Submit A New Blog Post</button>
        </a>
      </div>
      <!-- End of third row -->
    </div>
    <!-- End of container-->

    <div th:replace="/fragments/styling :: body-links"></div>
  </body>
</html>
