<!DOCTYPE html>
<html lang="en" xmlns="http:/thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="/fragments/styling :: head-style"></div>

    <title>Lisa's Blog</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h3>Use form below to submit blog entry</h3>
        <form
          action="#"
          th:action="@{/blogposts}"
          th:object="${blogPost}"
          method="POST"
        >
          <label for="blogTitle">Title:</label>
          <input type="text" name="blogTitle" th:field="*{title}" />
          <br />
          <label for="blogAuthor">Author:</label>
          <input type="text" name="blogAuthor" th:field="*{author}" />
          <br />
          <label for="blogEntry">Blog Entry:</label>
          <input type="text" name="blogEntry" th:field="*{blogEntry}" />
          <br />
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
      <!-- End of row -->
    </div>
    <!-- End of container -->

    <div th:replace="/fragments/styling :: body-links"></div>
  </body>
</html>
